<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
</head>
<body>
  

<div class="all-card">
<div class="card">
  <div class="card-content">
      <h2>Your feelings today</h2>
      <p>Let's record your feelings today.</p>
      <a href="#" class="button">GO</a>
  </div>
</div>

<div class="card">
  <div class="card-content">
      <h2>What kind of mood are you in this month?</h2>
      <p>Let's check your mood for the whole month.</p>
      <a href="#" class="button">CHECK</a>
  </div>
</div>
</div>
  
</body>
</html>