<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body>
  <div class="navbar">
    <a href="#">EMOTION</a>
    <div class="navbar-right">
        <a href="#"><i class="fi fi-rr-user"></i></a>
    </div>
</div>


  
</body>
</html>