/* styles.css */
body {
    background: linear-gradient(45deg, #FCEED1, #E6BABE, #A19DCA);
    display: flex;
    align-items: center;
    justify-content: center;
}


.all-card {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.card {
    
    background: linear-gradient(to right, #B8D4D7, #A19DCA);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px 10px 30px 10px;
    overflow: hidden;
    margin: 50px;
    
    
}


.card-content {
    padding: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-content h2 {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content p {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 5px;
    text-decoration: none;
    color: #FCEED1;
    background-color: #E6BABE;
    border-radius: 10px;
    transition: background-color 0.5s;
    
}

.button:hover{
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.05);
}
